
.blackBack {
	background-color: black;
	padding-top: 15px;
}

#logIn {
	padding-left: 600px;
}

/*.nav a {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 10px;
  text-decoration: none;
}*/
nav {
	padding-top: 60px;
}
nav a {
	position: relative;
	display: inline;
	margin: 25px 20px;
	outline: none;
	color: white;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus {
	outline: none;
	text-decoration: none;
}


.navig li {
	color: white;
  display: inline;
}

.container  nav {
	display: inline;
}

.jumbotron {
  margin-top: 15px;
  background-image:url('http://www.mrwallpaper.com/wallpapers/milky-way-night.jpg');
  height: 768px;
  width: 1260px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
  text-align: center;
}

.jumbotron a {
	color: white;
	text-decoration: none;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: black;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #639CBF;
}

.learn-more p {
	text-align: center;
}


.neighborhood-guides h2{
    color: black;
    font-size: 24px;
}

.neighborhood-guides h2 {
    font-size: 30px;
    color: #F0F0E1;
	text-align:  center;
	font-family: 'PT Sans';
}

.neighborhood-guides p {
    font-size: 20px;
    color: #F0F0E1;
	text-align:  center;
	font-family: 'PT Sans';
}

h3 {
	color: #F0F0E1;
    text-align:center;
}



/* Effect 21: borders slight translate */
.cl-effect-21 a {
	padding: 10px;
	color: #3399FF;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
	color: white;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}